* {
	margin: 0;
	box-sizing: border-box;
}

.header {
	width: 100%;
	background-color: #F7FBFC;
	margin: auto;
	padding: 20px;
}

.luas {
	border-style: solid;
	margin: 100px;
	padding: 30px;
	border-radius: 20px;
	border-width: 2px;
	border-color: #445069;
}

.keliling {
	border-style: solid;
	margin: 100px;
	padding: 30px;
	border-radius: 20px;
	border-width: 2px;
	border-color: #445069;
}

img {
	width: 30%;
	display: block;
	margin: auto;
}

form {
	display: inline-block;
	text-align: center;
	display: block;
	width: 900px;
	margin: auto;
	padding: 30px;
}

input {
	width: 300px;
	margin: 5px;
	border-radius: 7px;
}

.hitung-button {
	width: 60px;
	background-color: #769FCD;
	border: none;
	padding: 5px;
	color: whitesmoke;
	border-radius: 10px;
	margin: 10px;
}

.hitung-button:hover {
	background-color: #B9D7EA;
}

.reset-button {
	width: 60px;
	background-color: #6528F7;
	border: none;
	padding: 5px;
	color: whitesmoke;
	position: absolute;
	right: 300px;
	border-radius: 10px;
	margin: 10px;
}

.reset-button:hover {
	background-color: #769FCD;
}